/* These classes have lower specificity so we can override them
   with utility classes */

progress[value] {
  /* Reset the default appearance */
  @apply appearance-none w-64 h-6 border border-blue-600;
}

progress[value]::-moz-progress-bar {
  @apply bg-blue-600;
}

progress[value]::-webkit-progress-bar {
  @apply bg-white;
}

progress[value]::-webkit-progress-value {
  @apply bg-blue-600;
}

.button {
  @apply relative inline-block w-40 px-4 py-1 font-bold text-center text-blue-600 no-underline whitespace-no-wrap bg-white border border-blue-600;
}

.button:hover {
  top: -1px;
  @apply shadow-lg;
}

.loader {
  border: theme("spacing.2") solid theme("colors.white");
  border-radius: 50%;
  border-top: theme("spacing.2") solid theme("colors.blue.600");
  @apply w-16 h-16;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
